body {
    background-color: cornflowerblue;
    font-family: sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}

button {
    height: 30px;
    width: 100px;
    border-radius: 25px;
    font-weight: bold;
    background-color: sandybrown;
    border: none;
    color: white;
}

button:hover {
    scale:1.05;
}

#content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(auto,2fr);
    gap: 1%;
}

.card {
    width: 1fr;
    height: auto;
    border: 2px solid black;
    background-color: gainsboro;
    padding: 1% 0;
    border-radius: 20px 0px;
}

.card button {
    margin: 0 5%;
    height: 25px;
    width: 80px;
    margin-left: 70%;
}
.project-form button {
    height: 25px;
    width: 80px;
 }

.line {
    border: 1px solid black;
    margin: 2% 5%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 130px;
}

li {
    padding: 0 5%;
    font-size: 0.8rem;
}

h3 {
    margin: 1% 0;
    text-align: center;
}

.checklist {
    margin-left: 10%;
}

.project-form form {
    background-color: wheat;
    display: table;
    padding: 1%;
    font-weight: bold;
    border-collapse: separate; 
    border-spacing: 0 5px;
    height: 170px;
    margin-bottom: 1%;
    border: 2px solid black;
}

.project-form li {
    display: table-row;
}

.project-form label {
    display: table-cell;
}

.project-form input {
    display: table-cell;
}